In [2]:
from pycaret.datasets import get_data
data = get_data('iris')

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
from pycaret.classification import *
s = setup(data,target = 'species', session_id = 123)

In [4]:
best_model = compare_models()

In [5]:
best_model

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

In [8]:
from pycaret.regression import *

In [10]:
lr = create_model('lr')

In [11]:
create_api(lr, 'lr_api')

NameError: name 'create_api' is not defined